<h1>Authors:</h1>

<table>
  <tr>
    <th>Editor</th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= @editors.find{|e| e.id == profile.editor_id}.email %></td>
	<td></td>
    <td><%= link_to 'Show', profile %></td>
  </tr>
<% end %>
</table>
