#header, #footer
{
    border: 1px solid black;
    background: #036;
    color: #fff;
    text-align: center;
}
#footer
{
//    background: #f60;
    padding: 0px;
}
#body
{
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
}
#body-inner
{
    display: table-row;
}
#navigation, #content, #sidebar
{
    display: table-cell;
    padding: 0 1em;
}
#navigation
{
    background: #f0f0f0;
    border: 0 solid #d0d0d0;
    border-right-width: 1px;
    width: 200px;
}
#content
{
	padding-left: 4%;
	padding-right: 4%;
    width: 99%;
}
#sidebar
{
    width: 33%;
}
#sidebar p
{
    border-left: 1px solid #d0d0d0;
    margin-left: -1em;
    padding-left: 1em;
}
#skipto
{
    left: -9999px;
    position: absolute;
}
ul { margin-left: 0; padding: 0; }
ul li 
{ 
    margin: 0px 0px 0px 1.6em; 
    padding: 0;
    list-style: none;
    text-indent: -1.6em;
    white-space:nowrap;
    /*margin: 0.33em 0.5em 0.5em 1.5em;*/
}
.jqcNode { font-weight: bold; color: #036;}
a:link { 
	font-weight: bold; 
	color: #036;
	text-decoration: none;
	white-space: nowrap;
}
a:visited { 
	font-weight: bold; 
	color: #036;
	text-decoration: none;
	white-space: nowrap;
}
a.article:link { 
	font-weight: normal; 
	color: #036;
	text-decoration: none;
	white-space: nowrap;
}
a.article:visited { 
	font-weight: normal; 
	color: #036;
	text-decoration: none;
	white-space: nowrap;
}
a.special:link { 
	font-weight: bold; 
	color: #C00;
	text-decoration: none;
	white-space: nowrap;
}
a.special:visited { 
	font-weight: bold; 
	color: #C00;
	text-decoration: none;
	white-space: nowrap;
}
#byline{
	color: #999;
	font-size: 0,3em;
}
#post{
	display: block;
	padding: 1%;
}
h2 {margin: 0.2em 0;}
#collapser{margin: 0;}
.notice, .error {
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

.notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.error {
  background-color: #FCC;
  border: solid 1px #C66;
}
