<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>
<p>
   <b>Author:</b>
   <%=h @editors.find{|e| e.id == @category.editor_id}.email %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
